body{
    margin: 0;
}
.bgmenu{
    display:none;
}
.container {
    display: flex;
    height: 10vh;
    width: 66%;
    margin: auto;
    align-items: center;
}
/*Настройка контейнеров*/
.container40 {
    width:40%;
}
.container-60 {
    width:60%;
}
.container-log{
    position:realtive;
    z-index: 6;
}
.newaaa{
    width: 102px;
    height: 217px;
    position: relative;
    border-radius: 41px;
    background: #A1D884;
    z-index: 2;
}
.newc40{
    width:40%;
}
.container-logo-img{
    position: absolute;
    top: 50%;
    left: 20%;
}
    /*top навигация*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    height: 10%; 

}
.navigation-menu-brend {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-sibiria{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-catalog{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.navigation-menu-buy{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.container-navigation-menu{
    display: flex;
    width: 66%;
    margin: auto;
}
.container-navigation-menu-item{
    display:flex;
    margin-top:110px;
    gap:10px;
}
.menu-item-home{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
.menu-item-catalog{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
.work-area-title{
    display: flex;
    height: 10vh;
    width: 66%;
    margin: auto;
    flex-direction: column;
    padding-top: 100px;
}
.work-area-item-title-h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #333F48;
    height: 10vh;
    
}
.work-area-item-img{
    display:flex;
    padding-top: 10px;
}
.container-menu-btn{
    display: flex;
    height: 10vh;
    width: 66%;
    margin: auto;
    gap: 10px;
}
.btn-menu-all-products {
    padding: 14px 20px;
    gap: 10px;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    border:solid;
    border-color:#A1D884;
}
.btn-menu-body-care{
    padding: 14px 20px;
    gap: 10px;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    border:solid;
    border-color:#A1D884;
}
.btn-menu-face-care{
    padding: 14px 20px;
    gap: 10px;
    width: 160px;
    height: 50px;
    background: #A1D884;
    border-radius: 30px;
    border:solid;
    border-color:#A1D884;
}
.btn-menu-hair-care{
    padding: 14px 20px;
    gap: 10px;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    border:solid;
    border-color:#A1D884;
}
.btn-menu-hand-care{
    padding: 14px 20px;
    gap: 10px;
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    border:solid;
    border-color:#A1D884;
}
.container-work-area{
    width:100%;
}
.container-work-area-catalog {
    display: grid;
    width: 66%;
    margin: auto;
}
.container-work-area-catalog-img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 20px;
}
.container-work-area-catalog-img >img{
    padding-bottom:30px;
}
.container-footer-item-h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #333F48;
}

.container-footer-ingredients{
    display: flex;
    width: 66%;
    margin: auto;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
}
.container-footer-ingredients-item{
    display: flex;
    flex-direction: column;
}
.container-footer-ingredients-item-address{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ingredients-item-address-2{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
    padding-top:5px;
    margin-bottom:40px;
}
.container-footer-ingredients-item-connect{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ngredients-item-connect-2 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
    padding-top:4px;
    margin-bottom:30px;
}
.container-footer-ingredients-item-img{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}