body{
    margin: 0;
}
.bgmenu{
    display:none;
}
.container {
    display: flex;
    height: 10vh;
    width: 66%;
    margin: auto;
    align-items: center;
}
/*Настройка контейнеров*/
.container40 {
    width:40%;
}
.container-60 {
    width:60%;
}
.container-log{
    position:realtive;
    z-index: 6;
}
.container-logo-img {
    position: absolute;
    top: 50%;
    left: 20%;
}
/*top навигация*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    height: 10%; 

}
.navigation-menu-brend {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-sibiria{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-catalog{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.navigation-menu-buy{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.newc40{
    width:40%;
}
.newaaa{
    width: 102px;
    height: 217px;
    position: relative;
    border-radius: 41px;
    background: #A1D884;
    z-index: 2;
}
.container-navigation-menu{
    display: flex;
    width: 66%;
    margin: auto;
}
.container-navigation-menu-item{
    display:flex;
    margin-top:110px;
    gap:10px;
}
.menu-item-home{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
.menu-item-catalog{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
.menu-item-face{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
.menu-item-product{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #333F48;
}
/* Настройка слайдера */
.container-slider-catalog{
    display: flex;
    width: 66%;
    margin: auto;
    
  
}
.container-slider-catalog-slider{
    padding-top: 50px;
    background:no-repeat;
    width:40%;
}
.ibc-slick-dots-detail > li {
    list-style-type: none;
    /* width:10px;
    height:10px; */
    
}
.ibc-slick-dots-detail > button {
    width:10px;
    height:10px;
    
}
.custom-slick-dots {
    background-image: url(../img/catalog/slider-catalog-noactive.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 15px;
    margin-right: 5px;
}
.slick-active > .custom-slick-dots {
    background-image: url(./img/catalog/slider-catalog-active.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 15px;
    margin-right: 5px;
}

.ibc-slick-dots-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50%;
    margin-top: -20px;
    z-index: 1;
    position: absolute;
    padding-left: 22%;
   
}
.container-slider-img-slider .slick-slide img {
    width: 100%;
}
/* Настройка описания продукта */
.container-description-item {
    padding-left: 80px;
    padding-top: 50px;

}
.description-item-title {
    padding-bottom: 4px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.description-item-h1 {
    padding-bottom: 10px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.description-item-price {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #333F48;
}
.description-item-old-price {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-decoration-line: line-through;
    color: #BDBDBD;
}
.container-description-item-all-price {
    display:flex;
    gap:20px;
    padding-bottom:10px;
}
.description-item-bth {
    padding-bottom: 30px;
}
.description-img-pink {
    padding-bottom: 30px;
}
.description-item-product-description {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #333F48;
    padding-bottom:30px;
}
.description-item-ingredients {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
    padding-bottom:20px;
}
/* Настройка ингредиенты img */
.container-item-ingredients-img {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.flowers{
    padding-left: 10px;
    padding-right: 20px;
}
/* ---------------------------- */
.description-item-application {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
    padding-bottom:10px;
}
.description-item-application-h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
    padding-bottom:30px;
}
.description-item-storage-rules {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
    padding-bottom:10px;
}
.description-item-storage-rules-h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
    padding-bottom:200px;
}
/* Настройка slider bottom */
.container-description-slider{
    width: 100%;
}
.container-description-slider-items {
    background: #A1D884;
    height: 610px;
    width: 100%;
}
.description-slider-items-title{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #333F48;
    padding-left: 15%;
    padding-bottom:10px;
}
.description-slider-items-bottom-img {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    }
.description-slider-bottom-img-catalog{
    /* height: 448px;
    width: 386px; */
    margin-right:5px;
    
    }

.description-slider-bottom-img-catalog >img {
    height: inherit;
    width: inherit;
} 
   

.description-slider-items-img-green {
    padding-left: 15%;
    padding-bottom:60px;

}

.container-footer-ingredients{
    display: flex;
    width: 66%;
    margin: auto;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}


.container-footer-ingredients-item-address {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
    
}
.container-footer-ingredients-item-address-2{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ingredients-item-connect{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ingredients-item-connect-2 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ingredients-item-img{
    display: flex;
    gap:40px;
}


