@media(max-width: 420px){
    .container-burger{
        display:block;
        width:100px;
        height:100px;
    }
    .hedar-burger{
        display:block;
        position: relative;
        width:30px;
        height:20px;
        float: right; 
    }
    .hedar-burger > span {
        position:absolute;
        background-color:#A1D884;
        left:0px;
        width:100%;
        height:2px;
        top:9px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before,
    .hedar-burger:after {
        content:'';
        background-color:#A1D884;
        position:absolute;
        width:100%;
        height:2px;
        left:0px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before {
        top:0px;
    }
    .hedar-burger:after{
        bottom:0px;
    }
    .hedar-burger.active:before {
        transform: rotate(45deg);
        top:9px;
    }
    .hedar-burger.active:after {
        transform: rotate(-45deg);
        bottom:9px;
    }
    .hedar-burger.active > span{
        transform: scale(0);
    }
 
    
    .navigation {
        display:none;
    }
    .burger-navigation {
    }
    .burger-navigation > li{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #16231C;
    }
    .bgmenu {
        top: -200%;
        height: 200vh;
        width: 100vw;
        position: absolute;
        background: #F2ACB9;
        /* position: relative;  */
        z-index: 2;
        display: block;
        opacity: 1;
        transition:all 0.3s ease 0.3s;
    }
    .bgmenu.active{
        top:70px;
    }
    .newaaa{
        width: 51px;
        height: 108px;
        border-radius: 21px;
    }
   
    .container-logo-img {
        top: 40%;
        left: 16%;
        height: 45%;
    }
    .container-60 {
        width: 60%;
        margin-left: 170px;
    }
    .container-navigation-menu {
        display:none;
    }
    .container-slider-catalog {
        flex-direction: column;
    }
    .container-slider-catalog-slider {
        padding-top: 50px;
        background: no-repeat;
        width: 100%;
        padding-left: 0px;
    }
    .container-description-item {
        padding-left: 0px;
        padding-top: 50px;
    }
    .container-description-slider-items{
        background: #A1D884;
        height: 210px;
        width: 100%;
    }
    .description-slider-items-title{
        font-size: 20px;
    }
    .description-item-product-description{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #333F48;
        padding-bottom: 30px;
    }
    .container-item-ingredients-img {
        display: flex;
        align-content: center;
        align-items: center;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .item-ingredients-img-chamomile > img{
        width:90px;
    }
    .item-ingredients-img-nettle > img{
        width:90px;
    }
    .item-ingredients-img-juniper > img{
        width:90px;
    }
    .flowers {
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .description-item-storage-rules-h1 {
        padding-bottom: 100px;
}
    }
    .description-slider-items-img-green {
        padding-left: 15%;
        padding-bottom: 20px;
    }
    .description-slider-items-img-green > img{
        width:50%;
    }
    .description-slider-bottom-img-catalog{
        height: 100px;
        width: 100px;
        margin-right:-25px;
       
        }
    
    .description-slider-bottom-img-catalog >img {
        height: inherit;
        width: inherit;
        margin-bottom:20px;
    } 
    .container-footer-ingredients {
        display: flex;
        flex-direction: column;
        width: 66%;
        margin: auto;
        align-items:start;
        padding-top:40px;
}
    .container-footer-ingredients-item-img {
        display: flex;
        gap: 30px;
        margin-top: 20px;
        padding-bottom: 20px;
}
}