@media (max-width: 420px) { 
    .container-burger{
        display:block;
        width:100px;
        height:100px;
    }
    .hedar-burger{
        display:block;
        position: relative;
        width:30px;
        height:20px;
        float: right; 
    }
    .hedar-burger > span {
        position:absolute;
        background-color:#A1D884;
        left:0px;
        width:100%;
        height:2px;
        top:9px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before,
    .hedar-burger:after {
        content:'';
        background-color:#A1D884;
        position:absolute;
        width:100%;
        height:2px;
        left:0px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before {
        top:0px;
    }
    .hedar-burger:after{
        bottom:0px;
    }
    .hedar-burger.active:before {
        transform: rotate(45deg);
        top:9px;
    }
    .hedar-burger.active:after {
        transform: rotate(-45deg);
        bottom:9px;
    }
    .hedar-burger.active > span{
        transform: scale(0);
    }
 
    
    .navigation {
        display:none;
    }
    .burger-navigation {
    }
    .burger-navigation > li{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #16231C;
    }
    .bgmenu {
        top: -200%;
        height: 200vh;
        width: 100vw;
        position: absolute;
        background: #F2ACB9;
        /* position: relative;  */
        z-index: 2;
        display: block;
        opacity: 1;
        transition:all 0.3s ease 0.3s;
    }
    .bgmenu.active{
        top:70px;
    }

    .newaaa{
        width: 51px;
        height: 108px;
        border-radius: 21px;
    }
    .container-slider{
        
    }
    .container-logo-img {
        top: 40%;
        left: 16%;
        height: 45%;
    }
    .slider-item-text-title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 1.10em;
        line-height: 100%;
        padding-top: 40px;
        color: #333F48;
    }
    .slider-item-text-description {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 0.45em;
        color: #333F48;
    }
    .ibc-slick-dot{
        display:none;
    }
    .work-area {
        height:150px;
    }
    .site-body-item-container-text {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-right: -6%;
        order: 1;
        margin-top: 20px;
    }
    .site-body-item {
        display: flex;
        width: 66%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .site-body-title {
        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 100%;
        color: rgb(51, 63, 72);
        margin: 0px;
    }
    .site-body-text {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 140%;
        color: #333F48;
    }
    .site-body-h1 {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        color: #333F48;
    }
    .site-body-text2 {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 140%;
        color: #333F48;
        padding: 10px 0 0 0;
    }
    .logo-body > img {
        height: 150px;
    }
    .catalog {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        text-align: center;
        color: #333F48;
    }
    .catalog-img {
        display: flex;
        gap: 5px;
        height: 90px;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .catalog-img-green >img {
        width: 100px;
    }
    .slider-bottom-img {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 0px;
    }
    .slider-bottom-img >img{
        width:120px;
    }
    .slider-bottom-img-green-container-img {
        height: 100px;
        width: 100px;
        margin-right: 15px;
    }
    .slider-bottom-title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #333F48;
        padding-top: 20px;
    }
    .slider-bottom-item {
        background: #A1D884;
        height: 210px;
        width: 100%;
    }
    .slider-bottom-img-green-container-img > img{
        height: inherit;
        width: inherit;
    }
    .slider-bottom-container-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .container-footer-ingredients {
        display: flex;
        flex-direction: column;
        width: 66%;
        margin: auto;
        align-items:start;
        padding-top:40px;
}
    .container-footer-ingredients-item-img {
        display: flex;
        gap: 30px;
        margin-top: 20px;
        padding-bottom: 20px;
}
}
