@media (max-width: 420px) { 
    .container-burger{
        display:block;
        width:100px;
        height:100px;
    }
    .hedar-burger{
        display:block;
        position: relative;
        width:30px;
        height:20px;
        float: right; 
    }
    .hedar-burger > span {
        position:absolute;
        background-color:#333F48;
        left:0px;
        width:100%;
        height:2px;
        top:9px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before,
    .hedar-burger:after {
        content:'';
        background-color:#333F48;
        position:absolute;
        width:100%;
        height:2px;
        left:0px;
        transition:all 0.3s ease 0.3s;
    }
    .hedar-burger:before {
        top:0px;
    }
    .hedar-burger:after{
        bottom:0px;
    }
    .hedar-burger.active:before {
        transform: rotate(45deg);
        top:9px;
    }
    .hedar-burger.active:after {
        transform: rotate(-45deg);
        bottom:9px;
    }
    .hedar-burger.active > span{
        transform: scale(0);
    }
 
    
    .navigation {
        display:none;
    }
    .burger-navigation {
    }
    .burger-navigation > li{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #16231C;
    }
    .bgmenu {
        top: -200%;
        height: 200vh;
        width: 100vw;
        position: absolute;
        background: #F2ACB9;
        /* position: relative;  */
        z-index: 2;
        display: block;
        opacity: 1;
        transition:all 0.3s ease 0.3s;
    }
    .bgmenu.active{
        top:70px;
    }

    .newaaa{
        width: 51px;
        height: 108px;
        border-radius: 21px;
    }
    .slider-multiple-items{
        display:none;
    }
    .slider-multiple-items-mobile{
        display:block;
    }
    .slider-item-text-title-mobile, .slider-item-text-description-mobile{
        display:none;
    }
    .logo-body-mobile{
        display:block;
        padding-top:240px;
    }
    .container-slider{
        
    }
    .container-slider-item{
        height: 210px;
    }
    .site-body-green-img {
        width: 65%;
        height: 3%;
        padding: 0px;
    }
    .container-logo-img {
        top: 40%;
        left: 16%;
        height: 45%;
    }
    .slider-item-text-title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 1.10em;
        line-height: 100%;
        padding-top: 40px;
        color: #333F48;
    }
    .slider-item-text-description {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 0.45em;
        color: #333F48;
    }
    .ibc-slick-dot{
        display:none;
    }
    .work-area {
        height:150px;
    }
    .site-body-item-container-text {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-right: -6%;
        order: 1;
        margin-top: 20px;
    }
    .site-body-item {
        display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .site-body-title {
        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 100%;
        color: rgb(51, 63, 72);
        margin: 0px;
        padding-bottom: 10px;
    }
    .site-body-text {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333F48;
        padding-top: 10px;
    }
    .site-body-h1 {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #333F48;
    }
    .site-body-text2 {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333F48;
        padding: 10px 0 0 0;
    }
    .logo-body > img {
        height: 150px;
    }
    .container-catalog {
        width: 100%;
        background: #A1D884;
        height: 70vh;
    }

    .catalog {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        text-align: start;
        color: #333F48;
        width:90%;
    }
    .catalog-img {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 0px;
        height: 150px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 60px;
     }
    .catalog-img >img{
        height: 120px;
        width: 160px;
     }
     .catalog-img-green {
        display: flex;
        justify-content: start;
        width: 90%;
        margin: auto;
    }
    .catalog-img-green >img {
        width: 220px;
    }
    .slider-bottom-img {
        display: flex;
        justify-content: start;
        padding-bottom: 10px;
        padding-top: 0px;
        width:90%
    }
    .slider-bottom-img >img{
        width: 220px;
        padding-bottom: 10px;
    }
    .slider-bottom-img-green-container-img {
        height: 100px;
        width: 100px;
        margin-right: 15px;
    }
    .slider-bottom-title {
        padding-bottom: 10px;
        padding-top: 20px;
        width:90%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        text-align: start;
        color: #333F48;
        
    }
    .slider-bottom-item {
        background: #FFFFFF;
        height: 210px;
        width: 100%;
        padding-top: 20px;
    }
    .slider-bottom-img-green-container-img > img{
        height: inherit;
        width: inherit;
        border-radius: 50px;
    }
    .slider-bottom-img-green-container-img-img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
    .slider-bottom-container-btn {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;

    }
    .slider-bottom-btn {
        width: 92px;
        display: flex;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #333F48;
        padding: 5px 5px;
        gap: 10px;
        width: 133px;
        height: 30px;
        background: #A1D884;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
    }
   .slider-bottom-img-green-container-img:hover > span {
        display: block;
        position: absolute;
        top: 36%;
        left: 10%;
        font-size: 30px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
    }

    .container-footer-ingredients {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items:start;
        padding-top: 90px;
}
    .container-footer-ingredients-item-img {
        display: flex;
        /* gap: 30px; */
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 50px;
        padding-top: 20px;
}
}
