body{
    margin: 0;
}
.container {
    display: flex;
    height: 10vh;
    width: 66%;
    margin: auto;
    align-items: center;
}
/*Настройка контейнеров*/
.container40 {
    width:40%;
}
.container-60 {
    width:60%;
}
.container-log{
    position:realtive;
    z-index: 6;
}
.newaaa{
    width: 102px;
    height: 217px;
    position: relative;
    border-radius: 41px;
    background: #A1D884;
    z-index: 2;
}
.newc40{
    width:40%;
}
.container-logo-img{
    position: absolute;
    top: 50%;
    left: 20%;
}
    /*top навигация*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    height: 10%; 

}
.navigation-menu-brend {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.navigation-menu-sibiria{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-catalog{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.navigation-menu-buy{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.work-area-ingredients {
    width: 100%;
    
}
.container-work-area-ingredients {
    display: grid; 
    width: 66%;
    margin: auto;
}
.work-area-title{
    /* display: flex; */
    width: 66%;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 200px;
}

.work-area-item-title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #333F48;
}
.container-work-area-ingredients-img {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 20px;
}
.ingredients-img-linden{
    display: flex;
    flex-direction: column;
}

.ingredients-img-linden-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-linden-text >h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-linden-text >span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}

.ingredients-img-rose-hip{
    display: flex;
    flex-direction: column;
}

.ingredients-img-rose-hip-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-rose-hip-text h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-rose-hip-text span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-linen{
    display: flex;
    flex-direction: column;
    
}
.ingredients-img-linen-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-linen-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-linen-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}


.ingredients-img-hemp-oil{
    display: flex;
    flex-direction: column;
}
.ingredients-img-hemp-oil-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-hemp-oil-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-hemp-oil-text >span {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}

.ingredients-img-birch-juice{
    display: flex;
    flex-direction: column;
}
.ingredients-img-birch-juice-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-birch-juice-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-birch-juice-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}

.ingredients-img-sea-buckthorn{
    display: flex;
    flex-direction: column;
    
}
.ingredients-img-sea-buckthorn-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-sea-buckthorn-text >h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-sea-buckthorn-text >span {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-viburnum{
    display: flex;
    flex-direction: column;
}
.ingredients-img-viburnum-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-viburnum-text >h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-viburnum-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-cranberry{
    display: flex;
    flex-direction: column;
}
.ingredients-img-cranberry-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-cranberry-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-cranberry-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-juniper{
    display: flex;
    flex-direction: column;
}
.ingredients-img-juniper-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-juniper-text > h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-juniper-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-sage{
    display: flex;
    flex-direction: column;
}
.ingredients-img-sage-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-sage-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-sage-text >span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-chamomile{
    display: flex;
    flex-direction: column;
}

.ingredients-img-chamomile-text {
    display: flex;
    flex-direction: column;
}
.ingredients-img-chamomile-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-chamomile-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48;
}
.ingredients-img-nettle{
    display: flex;
    flex-direction: column;
}
.ingredients-img-nettle-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-nettle-text > h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-nettle-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48
}
.ingredients-img-sweet-clover{
    display: flex;
    flex-direction: column;
}
.ingredients-img-sweet-clover-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-sweet-clover-text >h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-sweet-clover-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48
}
.ingredients-img-cedar{
    display: flex;
    flex-direction: column;
    
}
.ingredients-img-cedar-text{
    display: flex;
    flex-direction: column;
}
.ingredients-img-cedar-text >h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #333F48;
}
.ingredients-img-cedar-text > span{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333F48
}
.container-footer{
    display: flex;
    width: 66%;
    margin: auto;
   
}
.container-footer-contact{
    display: flex;
    height: 40vh;
    width: 66%;
    margin: auto;
    align-items: center;
    margin-top:120px;
}
.container-footer-contact-form{
    display: flex;
    flex-direction: column;
    
}
.name-form {
    background: #F2F2F2;
    border-radius: 14px;
    width: 590px;
    height: 62px;
    align-self: stretch;
    border: 0;
    margin-bottom:20px;
}
.email-form {
    width: 590px;
    height: 62px;
    background: #F2F2F2;
    border-radius: 14px;
    align-self: stretch;
    border: 0;
    margin-bottom:20px;
}
.message-form {
    width: 590px;
    height: 212px;
    background: #F2F2F2;
    border-radius: 14px;
    align-self: stretch;
    border: 0;
    margin-bottom:20px;
}
.btn-form {
    padding: 14px 20px;
    gap: 10px;
    width: 128px;
    height: 50px;
    background: #A1D884;
    border-radius: 30px;
    border:0;
}
.container-footer-title{
    width:100%;
}
.container-footer-item{
    display: flex;
    width: 66%;
    margin: auto;
    
    
}
.container-footer-item-h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #333F48;
}

.container-footer-ingredients{
    margin-top: 75px;
    margin-left: 40px;
}
.container-footer-ingredients-item{
    display: flex;
    flex-direction: column;
}
.container-footer-ingredients-item-address{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ingredients-item-address-2{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
    padding-top:5px;
    margin-bottom:40px;
}
.container-footer-ingredients-item-connect{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #272727;
}
.container-footer-ngredients-item-connect-2 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272727;
    padding-top:4px;
    margin-bottom:30px;
}
.container-footer-ingredients-item-img{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}